.emera-error-boundary {
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 2px solid #e84646;
}

.emera-error-description {
    margin-top: 0.75rem;
}

.emera-error-boundary pre {
    font-size: 0.85rem;
}
